@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/rm347-porpla-02-a-01.jpg");
  background-size: cover;
}

.parent{
  overflow: hidden;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 1s ease infinite;
}



.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(66, 150, 255, 1) 0%,
    rgba(21, 44, 112, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(
    90deg,
    rgba(66, 150, 255, 1) 0%,
    rgba(21, 44, 112, 1) 100%
  );
}

.visibility-animation {
  animation: visibility 0.4s ease-in-out;
}
.visible-heading {
  animation: visibility 1s ease-in-out;
}

.left-slide {
  animation: left-slide 0.3s ease-in-out;
}

/* animations */

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes left-slide {
  0% {
    transform: translateX(-300px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}

@keyframes visibility {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
